:root {
  --accent-color: #2196f3;
  --second-accent-color: #ffffff;
  --primery-bgr-color: #2f303a;
  --secondary-bgr-color: #f5f4fa;
  --title-color: #212121;
  --main-text-color: #757575;
  --adress-color: rgba(255, 255, 255, 0.6);
}

body {
  font-family: 'Roboto', 'Raleway', sans-serif;
  color: var(--main-text-color);
}

.link {
  text-decoration: none;
}

.lists {
  list-style: none;
}
/* Logo */
.logo-link {
  color: #000000;
}

.logo {
  color: var(--accent-color);
}

/* Site nav */
.site-nav .link {
  color: var(--title-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.contacts .link {
  color: inherit;
}

.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}

/* Projects */
.filter-buttom {
  font-family: inherit;
  color: var(--title-color);
  cursor: pointer;
}

.filter-buttom:hover {
  color: var(--second-accent-color);
  background-color: var(--accent-color);
}

.project-title {
  color: var(--title-color);
}

/* Footer */
.footer {
  background-color: var(--primery-bgr-color);
}

.footer-link {
  color: var(--second-accent-color);
}

.adress {
  color: var(--second-accent-color);
}

.adress-link {
  color: var(--adress-color);
}
