:root {
  --accent-color: #2196f3;
  --second-accent-color: #ffffff;
  --primery-bgr-color: #2f303a;
  --secondary-bgr-color: #f5f4fa;
  --title-color: #212121;
  --main-text-color: #757575;
  --adress-color: rgba(255, 255, 255, 0.6);
}

body {
  font-family: 'Roboto', 'Raleway', sans-serif;
  color: var(--main-text-color);
  letter-spacing: 0.03em;
}

/* Global style */
.link {
  text-decoration: none;
  letter-spacing: 0.02em;
}

.lists {
  list-style: none;
}

.button {
  font-family: inherit;
  cursor: pointer;
}

.title {
  color: var(--title-color);
}

/* Common style */

/* Logo */
.logo-link {
  color: #000000;
}

.logo {
  color: var(--accent-color);
}

/* Site nav */
.site-nav .link {
  color: var(--title-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link-current {
  color: var(--accent-color);
}
.contacts .link {
  color: inherit;
}

.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}

/* Footer */
.footer {
  background-color: var(--primery-bgr-color);
}

.footer-link {
  color: var(--second-accent-color);
}

.adress {
  color: var(--second-accent-color);
  font-style: normal;
}

.adress-link {
  color: var(--adress-color);
}

/* index.html */

/* Hero section */
.hero-section {
  background-color: var(--primery-bgr-color);
}

.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36em;
  letter-spacing: 0.06em;
  color: var(--second-accent-color);
  text-transform: uppercase;
  text-align: center;
}

.button-order {
  color: var(--second-accent-color);
  background-color: var(--accent-color);
}

/* Features section */
.features-list .title {
  text-transform: uppercase;
}
/* Team section */
.team-section {
  background-color: var(--secondary-bgr-color);
}

/* portfolio.html */

/* Projects */
.filter-button {
  color: var(--title-color);
}

.filter-button:hover {
  color: var(--second-accent-color);
  background-color: var(--accent-color);
}

.project-title {
  color: var(--title-color);
}
