:root {
  --accent-color: #2196f3;
  --primery-bgr-color: #2f303a;
  --main-text-color: #757575;
  --title-color: #212121;
  --second-accent-color: #ffffff;
  --secondary-bgr-color: #f5f4fa;
}

body {
  font-family: 'Roboto', 'Raleway', sans-serif;
  color: var(--main-text-color);
}

.link {
  text-decoration: none;
}

.lists {
  list-style: none;
}
/* Logo */
.logo-link {
  color: #000000;
}

.logo {
  color: var(--accent-color);
}

/* Site nav */
.site-nav .link {
  color: var(--title-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

/* Projects */
.filter-buttom {
  font-family: inherit;
  background-color: var(--accent-color);
  cursor: pointer;
}

/* Footer */
.footer {
  background-color: var(--primery-bgr-color);
}

.footer-link {
  color: var(--second-accent-color);
}
